body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* header area*/
header {
  width: 100%;
  position: absolute;
  z-index: 999;
}

/*main area*/
.section-intro {
  background-image: url(../images/moss.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  animation: introLoad 2s forwards;
}

.section-intro .info-intro {
  position: absolute;
  top: 35%;
  left: 15%;
}

.section-intro h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.section-intro p {
  color: white;
  margin: 0;
}

.fitscreen {
  height: 100vh;
  width: 100%;
}

.head-title {
  animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes introLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
