@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* header area*/
header {
  width: 100%;
  position: absolute;
  z-index: 999;
}

/*main area*/
/*section intro*/
.section-intro {
  background-image: url(../images/moss.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  animation: introLoad 2s forwards;

  .info-intro {
    position: absolute;
    top: 35%;
    left: 15%;
  }

  .head-title {
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;

    h1 {
      color: white;
      font-size: 2em;
      font-weight: 800;
      line-height: 1em;
      margin: 0;
    }

    p {
      color: white;
      font-size: 1em;
      margin: 20px 0;
      font-weight: 400;
      max-width: 500px;
    }
  }

  .scrollicon {
    position: absolute;
    color: rgb(226, 226, 226);
    font-weight: 300;
    left: 70%;
    transform: translateX(-50%);
    bottom: 100px;
    height: 30px;
  }

  .scrollline {
    position: absolute;
    width: 1px;
    height: 100px;
    left: 70%;
    transform: translateX(-50%);
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255),
      rgb(30, 76, 33)
    );
  }
}

.section-sec {
  height: auto;
  width: 100%;

  .bcolour {
    background-color: whitesmoke;
  }

  img {
    opacity: 0.8;
  }
}

@keyframes introLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
