.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/hero.jpg);
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-animation: introLoad 2s forwards;
  animation: introLoad 2s forwards;
}

@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
